In [65]:
df = pd.read_csv('roberta.csv')

In [66]:
df.head()

,Unnamed: 0,Product_name,Review,Rating,robertneg,robertnut,robertnpos
0,0,Lenovo Ideapad Gaming 3 Ryzen 5 Hexa Core 5600...,Best under 60k Great performanceI got it for a...,5,0.005346,0.041061,0.953593
1,1,Lenovo Ideapad Gaming 3 Ryzen 5 Hexa Core 5600...,Good perfomence...,5,0.005259,0.135149,0.859592
2,2,Lenovo Ideapad Gaming 3 Ryzen 5 Hexa Core 5600...,Great performance but usually it has also that...,5,0.077736,0.282266,0.639997
3,3,DELL Inspiron Athlon Dual Core 3050U - (4 GB/2...,My wife is so happy and best product üëåüèªüòò,5,0.001227,0.006407,0.992366
4,4,DELL Inspiron Athlon Dual Core 3050U - (4 GB/2...,"Light weight laptop with new amazing features,...",5,0.001508,0.010719,0.987773

In [77]:
X = df[df.columns[-3:]]
Y = df.Rating

In [78]:
X

      robertneg  robertnut  robertnpos
0      0.005346   0.041061    0.953593
1      0.005259   0.135149    0.859592
2      0.077736   0.282266    0.639997
3      0.001227   0.006407    0.992366
4      0.001508   0.010719    0.987773
...         ...        ...         ...
2299   0.003550   0.042456    0.953994
2300   0.010585   0.626950    0.362466
2301   0.008338   0.083822    0.907840
2302   0.520648   0.456470    0.022883
2303   0.002878   0.035007    0.962115

[2304 rows x 3 columns]

In [58]:
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score

In [126]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=42)
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [106]:
X_train

      robertneg  robertnut  robertnpos
650    0.017627   0.216825    0.765548
2198   0.023645   0.743700    0.232655
1314   0.098979   0.256055    0.644966
360    0.959086   0.037937    0.002977
974    0.955419   0.040967    0.003614
...         ...        ...         ...
1638   0.001482   0.006314    0.992205
1095   0.001563   0.009766    0.988672
1130   0.002815   0.028350    0.968835
1294   0.001586   0.018085    0.980329
860    0.700588   0.272478    0.026935

[1843 rows x 3 columns]

In [82]:
lr_model = LogisticRegression(multi_class='multinomial', solver='lbfgs')
lr_model.fit(X_train_scaled, y_train)
lr_pred = lr_model.predict(X_test_scaled)
lr_accuracy = accuracy_score(y_test, lr_pred)
print("Logistic Regression Accuracy:", lr_accuracy)

Logistic Regression Accuracy: 0.6811279826464208

In [85]:
y_test.values

array([5, 5, 4, 5, 1, 5, 5, 5, 4, 3, 1, 5, 5, 4, 5, 5, 4, 5, 5, 5, 4, 5,
       4, 5, 4, 5, 5, 5, 4, 5, 5, 4, 5, 5, 3, 5, 5, 5, 3, 4, 1, 5, 5, 5,
       5, 4, 5, 5, 5, 5, 5, 5, 5, 5, 4, 5, 4, 5, 3, 5, 5, 4, 4, 4, 5, 5,
       5, 5, 5, 5, 4, 5, 5, 5, 5, 5, 5, 5, 5, 4, 5, 1, 5, 5, 5, 5, 4, 5,
       5, 5, 5, 4, 5, 5, 5, 1, 4, 5, 1, 5, 4, 2, 5, 5, 4, 5, 5, 4, 5, 3,
       5, 4, 4, 4, 5, 5, 5, 5, 1, 5, 5, 5, 5, 1, 5, 5, 5, 5, 5, 1, 5, 3,
       5, 1, 5, 3, 4, 5, 5, 1, 5, 5, 5, 5, 5, 5, 5, 5, 5, 2, 3, 4, 5, 5,
       5, 5, 5, 5, 3, 5, 5, 4, 5, 4, 2, 5, 5, 4, 3, 5, 5, 5, 5, 4, 5, 4,
       1, 4, 4, 5, 5, 4, 4, 2, 4, 5, 4, 5, 5, 5, 4, 4, 5, 5, 4, 4, 5, 5,
       5, 5, 5, 4, 5, 1, 5, 5, 5, 4, 1, 5, 5, 5, 5, 5, 5, 5, 3, 5, 1, 5,
       5, 5, 5, 4, 5, 5, 4, 1, 1, 5, 5, 2, 5, 4, 5, 4, 5, 5, 5, 5, 5, 4,
       5, 5, 4, 1, 5, 5, 4, 5, 5, 4, 1, 3, 5, 5, 5, 5, 5, 5, 5, 4, 1, 5,
       5, 4, 4, 4, 5, 5, 5, 5, 4, 4, 5, 1, 4, 5, 5, 3, 5, 4, 5, 4, 4, 5,
       5, 5, 4, 1, 1, 5, 5, 3, 5, 4, 4, 4, 5, 5, 5, 1, 5, 5, 5, 5, 4, 1,
       5, 5, 5, 5, 5, 5, 4, 5, 4, 5, 4, 5, 5, 5, 5, 5, 5, 4, 4, 5, 5, 5,
       5, 5, 5, 5, 1, 4, 4, 5, 5, 4, 3, 5, 5, 4, 5, 5, 5, 5, 2, 5, 4, 5,
       3, 4, 4, 5, 5, 5, 1, 5, 5, 4, 4, 5, 4, 5, 3, 1, 1, 4, 5, 5, 5, 5,
       5, 4, 5, 4, 5, 4, 5, 5, 5, 4, 5, 5, 5, 4, 3, 3, 4, 1, 4, 5, 4, 5,
       5, 4, 5, 4, 5, 4, 3, 5, 4, 4, 5, 3, 5, 4, 4, 5, 5, 1, 5, 3, 3, 5,
       5, 4, 5, 5, 5, 5, 1, 1, 4, 3, 4, 4, 4, 4, 5, 5, 5, 1, 1, 4, 4, 4,
       1, 5, 5, 5, 5, 4, 4, 1, 4, 5, 5, 5, 4, 5, 5, 5, 5, 5, 5, 5, 4],
      dtype=int64)

In [84]:
lr_pred

array([5, 5, 5, 5, 1, 5, 5, 5, 5, 5, 1, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5,
       5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 1, 5, 5, 5, 5, 5, 1, 5, 5, 5,
       5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 1, 5, 5, 5, 5, 5, 5, 5,
       5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 1, 5, 5, 5, 5, 5, 5,
       5, 5, 5, 5, 5, 5, 5, 1, 5, 5, 1, 5, 5, 1, 5, 5, 5, 5, 5, 5, 5, 5,
       5, 5, 5, 5, 5, 5, 5, 4, 1, 5, 5, 5, 5, 1, 5, 5, 5, 5, 5, 1, 5, 5,
       5, 1, 5, 5, 5, 5, 5, 1, 5, 5, 5, 5, 5, 5, 5, 5, 5, 4, 1, 5, 5, 5,
       5, 5, 5, 5, 1, 5, 5, 5, 5, 5, 1, 5, 5, 5, 1, 5, 5, 5, 5, 5, 5, 5,
       1, 5, 5, 5, 5, 5, 5, 1, 1, 5, 5, 5, 5, 5, 4, 5, 5, 5, 5, 1, 5, 5,
       5, 5, 5, 1, 5, 1, 5, 5, 5, 5, 1, 5, 5, 5, 5, 5, 5, 5, 5, 5, 1, 5,
       5, 5, 5, 5, 5, 5, 5, 5, 1, 5, 5, 1, 5, 5, 5, 5, 5, 5, 5, 5, 5, 1,
       5, 4, 5, 1, 5, 5, 5, 5, 5, 5, 1, 5, 5, 5, 5, 5, 5, 5, 5, 5, 1, 5,
       5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 1, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5,
       5, 5, 5, 1, 1, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 1, 4, 5, 5, 5, 5, 1,
       5, 5, 5, 1, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5,
       5, 5, 4, 5, 1, 5, 5, 5, 5, 5, 5, 5, 5, 1, 5, 5, 5, 5, 1, 5, 5, 5,
       1, 5, 5, 5, 5, 5, 1, 5, 5, 5, 5, 5, 5, 5, 4, 1, 1, 5, 1, 5, 5, 5,
       5, 4, 5, 1, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 1, 5, 4, 1, 5, 5, 5, 5,
       5, 5, 4, 5, 5, 5, 1, 5, 5, 1, 5, 4, 5, 4, 1, 5, 5, 1, 5, 5, 5, 5,
       5, 5, 5, 5, 5, 5, 1, 1, 5, 5, 5, 5, 4, 5, 5, 5, 4, 1, 1, 5, 5, 1,
       1, 5, 5, 5, 5, 5, 5, 1, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 4],
      dtype=int64)

In [120]:
X_train

      robertneg  robertnut  robertnpos
650    0.017627   0.216825    0.765548
2198   0.023645   0.743700    0.232655
1314   0.098979   0.256055    0.644966
360    0.959086   0.037937    0.002977
974    0.955419   0.040967    0.003614
...         ...        ...         ...
1638   0.001482   0.006314    0.992205
1095   0.001563   0.009766    0.988672
1130   0.002815   0.028350    0.968835
1294   0.001586   0.018085    0.980329
860    0.700588   0.272478    0.026935

[1843 rows x 3 columns]

In [101]:
dt_model = DecisionTreeClassifier()
dt_model.fit(X_train, y_train)
dt_pred = dt_model.predict(X_test)
dt_accuracy = accuracy_score(y_test, dt_pred)
print("Decision Tree Accuracy:", dt_accuracy)

Decision Tree Accuracy: 0.7613882863340564

In [127]:
rf_model = RandomForestClassifier()
rf_model.fit(X_train, y_train)
rf_pred = rf_model.predict(X_test)
rf_accuracy = accuracy_score(y_test, rf_pred)
print("Random Forest Accuracy:", rf_accuracy)

Random Forest Accuracy: 0.7939262472885033

In [131]:
X_test

      robertneg  robertnut  robertnpos
1640   0.002248   0.009168    0.988584
508    0.005474   0.067766    0.926760
1422   0.007183   0.111997    0.880820
44     0.030189   0.110279    0.859532
1398   0.972065   0.025694    0.002241
...         ...        ...         ...
1825   0.005446   0.045050    0.949504
1674   0.001666   0.007142    0.991192
1813   0.008752   0.051622    0.939627
1776   0.012823   0.168565    0.818612
2227   0.322769   0.379611    0.297621

[461 rows x 3 columns]

In [130]:
y_test.values

array([5, 5, 4, 5, 1, 5, 5, 5, 4, 3, 1, 5, 5, 4, 5, 5, 4, 5, 5, 5, 4, 5,
       4, 5, 4, 5, 5, 5, 4, 5, 5, 4, 5, 5, 3, 5, 5, 5, 3, 4, 1, 5, 5, 5,
       5, 4, 5, 5, 5, 5, 5, 5, 5, 5, 4, 5, 4, 5, 3, 5, 5, 4, 4, 4, 5, 5,
       5, 5, 5, 5, 4, 5, 5, 5, 5, 5, 5, 5, 5, 4, 5, 1, 5, 5, 5, 5, 4, 5,
       5, 5, 5, 4, 5, 5, 5, 1, 4, 5, 1, 5, 4, 2, 5, 5, 4, 5, 5, 4, 5, 3,
       5, 4, 4, 4, 5, 5, 5, 5, 1, 5, 5, 5, 5, 1, 5, 5, 5, 5, 5, 1, 5, 3,
       5, 1, 5, 3, 4, 5, 5, 1, 5, 5, 5, 5, 5, 5, 5, 5, 5, 2, 3, 4, 5, 5,
       5, 5, 5, 5, 3, 5, 5, 4, 5, 4, 2, 5, 5, 4, 3, 5, 5, 5, 5, 4, 5, 4,
       1, 4, 4, 5, 5, 4, 4, 2, 4, 5, 4, 5, 5, 5, 4, 4, 5, 5, 4, 4, 5, 5,
       5, 5, 5, 4, 5, 1, 5, 5, 5, 4, 1, 5, 5, 5, 5, 5, 5, 5, 3, 5, 1, 5,
       5, 5, 5, 4, 5, 5, 4, 1, 1, 5, 5, 2, 5, 4, 5, 4, 5, 5, 5, 5, 5, 4,
       5, 5, 4, 1, 5, 5, 4, 5, 5, 4, 1, 3, 5, 5, 5, 5, 5, 5, 5, 4, 1, 5,
       5, 4, 4, 4, 5, 5, 5, 5, 4, 4, 5, 1, 4, 5, 5, 3, 5, 4, 5, 4, 4, 5,
       5, 5, 4, 1, 1, 5, 5, 3, 5, 4, 4, 4, 5, 5, 5, 1, 5, 5, 5, 5, 4, 1,
       5, 5, 5, 5, 5, 5, 4, 5, 4, 5, 4, 5, 5, 5, 5, 5, 5, 4, 4, 5, 5, 5,
       5, 5, 5, 5, 1, 4, 4, 5, 5, 4, 3, 5, 5, 4, 5, 5, 5, 5, 2, 5, 4, 5,
       3, 4, 4, 5, 5, 5, 1, 5, 5, 4, 4, 5, 4, 5, 3, 1, 1, 4, 5, 5, 5, 5,
       5, 4, 5, 4, 5, 4, 5, 5, 5, 4, 5, 5, 5, 4, 3, 3, 4, 1, 4, 5, 4, 5,
       5, 4, 5, 4, 5, 4, 3, 5, 4, 4, 5, 3, 5, 4, 4, 5, 5, 1, 5, 3, 3, 5,
       5, 4, 5, 5, 5, 5, 1, 1, 4, 3, 4, 4, 4, 4, 5, 5, 5, 1, 1, 4, 4, 4,
       1, 5, 5, 5, 5, 4, 4, 1, 4, 5, 5, 5, 4, 5, 5, 5, 5, 5, 5, 5, 4],
      dtype=int64)

In [103]:
gb_model = GradientBoostingClassifier()
gb_model.fit(X_train, y_train)
gb_pred = gb_model.predict(X_test)
gb_accuracy = accuracy_score(y_test, gb_pred)
print("Gradient Boosting Accuracy:", gb_accuracy)

Gradient Boosting Accuracy: 0.7700650759219089

In [104]:
svm_model = SVC()
svm_model.fit(X_train_scaled, y_train)
svm_pred = svm_model.predict(X_test_scaled)
svm_accuracy = accuracy_score(y_test, svm_pred)
print("SVM Accuracy:", svm_accuracy)

SVM Accuracy: 0.6919739696312365

In [124]:
import pickle
with open('randomForestModelRoberta.pkl', 'wb') as f:
    pickle.dump(rf_model, f)

In [121]:
import pandas as pd

# Define the sentiment probabilities
sentiment_probabilities = [0.8655868172645569, 0.12227807939052582, 0.012135038152337074]

# Create a DataFrame with the sentiment probabilities
testing = {
    'robertneg': [sentiment_probabilities[0]],
    'robertnut': [sentiment_probabilities[1]],
    'robertnpos': [sentiment_probabilities[2]]
}

testing = pd.DataFrame(testing)

In [122]:
testing

   robertneg  robertnut  robertnpos
0   0.865587   0.122278    0.012135

In [132]:
df

,Unnamed: 0,Product_name,Review,Rating,robertneg,robertnut,robertnpos
0,0,Lenovo Ideapad Gaming 3 Ryzen 5 Hexa Core 5600...,Best under 60k Great performanceI got it for a...,5,0.005346,0.041061,0.953593
1,1,Lenovo Ideapad Gaming 3 Ryzen 5 Hexa Core 5600...,Good perfomence...,5,0.005259,0.135149,0.859592
2,2,Lenovo Ideapad Gaming 3 Ryzen 5 Hexa Core 5600...,Great performance but usually it has also that...,5,0.077736,0.282266,0.639997
3,3,DELL Inspiron Athlon Dual Core 3050U - (4 GB/2...,My wife is so happy and best product üëåüèªüòò,5,0.001227,0.006407,0.992366
4,4,DELL Inspiron Athlon Dual Core 3050U - (4 GB/2...,"Light weight laptop with new amazing features,...",5,0.001508,0.010719,0.987773
...,...,...,...,...,...,...,...
2299,2299,MSI 27 inch Full HD IPS Panel Monitor (PRO MP2...,"Great display, accurate colours at this price ...",5,0.003550,0.042456,0.953994
2300,2300,MSI 27 inch Full HD IPS Panel Monitor (PRO MP2...,Superb monitor first brought 1 used for 2 mont...,5,0.010585,0.626950,0.362466
2301,2301,MSI 27 inch Full HD IPS Panel Monitor (PRO MP2...,Awesome,5,0.008338,0.083822,0.907840
2302,2302,MSI 27 inch Full HD IPS Panel Monitor (PRO MP2...,Only one issue with adapter,5,0.520648,0.456470,0.022883
2303,2303,MSI 27 inch Full HD IPS Panel Monitor (PRO MP2...,Worth the money u spend for this monitor Great...,5,0.002878,0.035007,0.962115

In [125]:
rf_model.predict(testing)

array([3], dtype=int64)